In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/carbon_footprint_india.csv')
df.head()

,Year,State/UT,Sector,CO₂ Emissions (Million Tonnes),CH₄ Emissions (Million Tonnes CO₂e),N₂O Emissions (Million Tonnes CO₂e),Energy Consumption (TWh),Electricity Generation (TWh),Fossil Fuel Consumption (MTOE),Vehicle Count (Million Units),Industrial Output (GDP Contribution in ₹ Cr),Agricultural Land Usage (Million Hectares),Deforestation Rate (sq. km per year),Waste Generation (Million Tonnes),Renewable Energy Share (%)
0,2006,Gujarat,Energy,224.26,14.90,9.02,40.25,279.66,107.25,47.16,9144.38,48.15,107.42,47.20,6.88
1,2019,Jharkhand,Waste,132.17,4.20,6.28,152.16,188.59,218.93,35.95,36044.41,46.64,27.46,35.83,39.76
2,2014,Meghalaya,Transport,341.46,12.53,9.38,269.18,81.57,17.66,30.39,36520.51,42.70,31.41,27.45,18.72
3,2010,Kerala,Energy,71.69,47.87,13.96,373.22,174.96,14.73,8.88,71955.77,37.77,51.19,91.14,69.71
4,2007,Tripura,Agriculture,430.54,15.94,9.69,416.05,86.60,162.34,23.88,68045.72,27.01,58.79,61.55,59.24

In [3]:
GWP_CH4 = 28  # Methane GWP
GWP_N2O = 265  # Nitrous Oxide GWP

# Calculate total carbon footprint
df["Carbon Footprint (Million Tonnes CO₂e)"] = (
    df["CO₂ Emissions (Million Tonnes)"] +
    (df["CH₄ Emissions (Million Tonnes CO₂e)"] * GWP_CH4) +
    (df["N₂O Emissions (Million Tonnes CO₂e)"] * GWP_N2O)
)

In [4]:
df.head()

,Year,State/UT,Sector,CO₂ Emissions (Million Tonnes),CH₄ Emissions (Million Tonnes CO₂e),N₂O Emissions (Million Tonnes CO₂e),Energy Consumption (TWh),Electricity Generation (TWh),Fossil Fuel Consumption (MTOE),Vehicle Count (Million Units),Industrial Output (GDP Contribution in ₹ Cr),Agricultural Land Usage (Million Hectares),Deforestation Rate (sq. km per year),Waste Generation (Million Tonnes),Renewable Energy Share (%),Carbon Footprint (Million Tonnes CO₂e)
0,2006,Gujarat,Energy,224.26,14.90,9.02,40.25,279.66,107.25,47.16,9144.38,48.15,107.42,47.20,6.88,3031.76
1,2019,Jharkhand,Waste,132.17,4.20,6.28,152.16,188.59,218.93,35.95,36044.41,46.64,27.46,35.83,39.76,1913.97
2,2014,Meghalaya,Transport,341.46,12.53,9.38,269.18,81.57,17.66,30.39,36520.51,42.70,31.41,27.45,18.72,3178.00
3,2010,Kerala,Energy,71.69,47.87,13.96,373.22,174.96,14.73,8.88,71955.77,37.77,51.19,91.14,69.71,5111.45
4,2007,Tripura,Agriculture,430.54,15.94,9.69,416.05,86.60,162.34,23.88,68045.72,27.01,58.79,61.55,59.24,3444.71

In [5]:
emission_factors = {
    "Coal": 0.9,   # kg CO₂ per kWh
    "Oil": 0.7,    # kg CO₂ per kWh
    "Gas": 0.5     # kg CO₂ per kWh
}
df["Energy Emissions (Million Tonnes CO₂e)"] = df["Energy Consumption (TWh)"] * emission_factors["Coal"] * 1e-3

# Transportation Sector Emissions (Assuming 2.3 tonnes CO₂ per vehicle per year)
df["Transport Emissions (Million Tonnes CO₂e)"] = df["Vehicle Count (Million Units)"] * 2.3

# Industrial Emissions
df["Industrial Emissions (Million Tonnes CO₂e)"] = df["Fossil Fuel Consumption (MTOE)"] * 3.15  # 3.15 tonnes CO₂ per tonne of oil

# Deforestation Contribution (500 tonnes CO₂ per sq.km)
df["Deforestation Emissions (Million Tonnes CO₂e)"] = df["Deforestation Rate (sq. km per year)"] * 0.5 * 1e-3

# Waste Management Emissions (Assuming 0.2 tonnes CH₄ per tonne of waste)
df["Waste Emissions (Million Tonnes CO₂e)"] = df["Waste Generation (Million Tonnes)"] * 0.2 * GWP_CH4

In [6]:
df["Total Sector Emissions (Million Tonnes CO₂e)"] = (
    df["Energy Emissions (Million Tonnes CO₂e)"] +
    df["Transport Emissions (Million Tonnes CO₂e)"] +
    df["Industrial Emissions (Million Tonnes CO₂e)"] +
    df["Deforestation Emissions (Million Tonnes CO₂e)"] +
    df["Waste Emissions (Million Tonnes CO₂e)"]
)

In [7]:
df.to_csv("data/carbon_footprint_results.csv", index=False)

In [8]:
df2 = pd.read_csv('data/carbon_footprint_results.csv')
df2.head()

,Year,State/UT,Sector,CO₂ Emissions (Million Tonnes),CH₄ Emissions (Million Tonnes CO₂e),N₂O Emissions (Million Tonnes CO₂e),Energy Consumption (TWh),Electricity Generation (TWh),Fossil Fuel Consumption (MTOE),Vehicle Count (Million Units),...,Deforestation Rate (sq. km per year),Waste Generation (Million Tonnes),Renewable Energy Share (%),Carbon Footprint (Million Tonnes CO₂e),Energy Emissions (Million Tonnes CO₂e),Transport Emissions (Million Tonnes CO₂e),Industrial Emissions (Million Tonnes CO₂e),Deforestation Emissions (Million Tonnes CO₂e),Waste Emissions (Million Tonnes CO₂e),Total Sector Emissions (Million Tonnes CO₂e)
0,2006,Gujarat,Energy,224.26,14.90,9.02,40.25,279.66,107.25,47.16,...,107.42,47.20,6.88,3031.76,0.036225,108.468,337.8375,0.053710,264.320,710.715435
1,2019,Jharkhand,Waste,132.17,4.20,6.28,152.16,188.59,218.93,35.95,...,27.46,35.83,39.76,1913.97,0.136944,82.685,689.6295,0.013730,200.648,973.113174
2,2014,Meghalaya,Transport,341.46,12.53,9.38,269.18,81.57,17.66,30.39,...,31.41,27.45,18.72,3178.00,0.242262,69.897,55.6290,0.015705,153.720,279.503967
3,2010,Kerala,Energy,71.69,47.87,13.96,373.22,174.96,14.73,8.88,...,51.19,91.14,69.71,5111.45,0.335898,20.424,46.3995,0.025595,510.384,577.568993
4,2007,Tripura,Agriculture,430.54,15.94,9.69,416.05,86.60,162.34,23.88,...,58.79,61.55,59.24,3444.71,0.374445,54.924,511.3710,0.029395,344.680,911.378840